In [ ]:
import random
import pandas as pd

pembayaran = ["cara bayarnya bisa datang langsung ke loket","transfer aja ke 1234565","via dana di nomor 088888"]
pendaftaran =  ["masuk ke link ini","bisa ke gedung rektorat","bisa daftar dengan saya"]

df = pd.DataFrame({"pertanyaan":["bayarnya gimana?","cara bayar bagaimana?","gimana sih cara bayarnya?","cara daftar gimana?","daftarnya gimana?","daftar kemana?"], "jenis":["bayar","bayar","bayar","daftar","daftar","daftar"]})

df

                  pertanyaan   jenis
0           bayarnya gimana?   bayar
1      cara bayar bagaimana?   bayar
2  gimana sih cara bayarnya?   bayar
3        cara daftar gimana?  daftar
4          daftarnya gimana?  daftar
5             daftar kemana?  daftar

In [ ]:
import random 
import pandas as pd

df = pd.DataFrame({"Pertanyaan":["cara bayarnya gimana?", "bayarnya bagaimana","bayarnya kemana","cara daftar gimana?", "daftarnya bagaimana","daftarnya kemana"],"jenis":["bayar","bayar","bayar","daftar","daftar","daftar"]})

bayar = ["ke kasir aja","link berikut ini","dengan via atm","bisa ke gedung rektorat"]
daftar = ["berikut link daftarnya", "ke gedung rektorat saja","isi link berikut"]

df

              Pertanyaan   jenis
0  cara bayarnya gimana?   bayar
1     bayarnya bagaimana   bayar
2        bayarnya kemana   bayar
3    cara daftar gimana?  daftar
4    daftarnya bagaimana  daftar
5       daftarnya kemana  daftar

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

data = df.values
x = data[:,0]
y = data[:,1]

idf = TfidfVectorizer()
x = idf.fit_transform(x).toarray()

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
data = df.values

x = data[:,0]
y = data[:,1]

cv = CountVectorizer()
x = cv.fit_transform(x).toarray()

In [ ]:
from sklearn.naive_bayes import MultinomialNB

nb = MultinomialNB()
nb.fit(x,y)

MultinomialNB()

In [ ]:
tes = nb.predict(cv.transform(["daftar gimana?"]))
print(tes)

['daftar']

In [ ]:
if tes[0] == "bayar":
  print(pembayaran[random.randint(0,len(pembayaran)-1)])
elif tes[0] == "daftar":
  print(pendaftaran[random.randint(0,len(pendaftaran)-1)])

bisa ke gedung rektorat